<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Pot Rud Uni</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ course.getName }}</h1>



        </div>
    </body>
</html>
