<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Pot Rud Uni</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Pot Rud Uni</h1>

        <h3><a href="/students">Add or view a student</a></h3>
        <h3><a href="/courses">Add or view a course</a></h3>
    </div>

</body>
</html>
